/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: beige;
}

/* INICIO HEADER */
header {
    width: 100%;
    background-color: rgba(29, 75, 40, 0.559);
    display: flex;
    border: 2px solid rgba(54, 11, 11, 0.347);
    height: 80px;
    justify-content: space-between;
    align-items: center;
    
}

header .header_img {
    margin-left: 20px;
}

header .header_img img {
    width: 120px;
    height: 50px;
    border-radius: 0;
}

header .header_links ul a {
    color: black;
    text-decoration: none;
    margin: 0 30px;
} 

header .header_form {
    margin-right: 30px;
}



/* INICIO FOOTER */
footer {
    width: 100%;
    height: 300px;
    background-image: url(/imagenes/imagen_footer.jpeg); /* Asegúrate de que la URL sea correcta */
    background-repeat: no-repeat;
    background-size: cover; /* Hace que la imagen ocupe todo el espacio del footer */
    background-position: center; /* Centra la imagen en el footer */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer .index_nombres {
    text-align: center;
    border-radius: 20px;
}

footer .index_nombres h1 {
    display: inline-block;
    margin: 10px 20px; 
    background-color: none;
}

/* FIN FOOTER */

/* INICIO INDEX */

.index_titular {
    text-align: center;
    margin-top: 1%;
    font-size: 400%;
}

.index_recetas_container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2%;
}

.index_receta {
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    border: 1px solid rgba(29, 75, 40, 0.559);
    margin: 1% 0.5%;
}

.index_receta img {
    margin: 5% 0;
    width: 90%;
    align-items: center;
    
}

.index_receta .index_titulo {
    font-weight: bold;
    color: rgba(54, 11, 11, 0.347);
    margin-bottom: 2%
}

.index_receta .index_dificultad {
    color: rgba(29, 75, 40, 0.559);
    margin-bottom: 2%;
}

.index_receta .index_detalle {
    color: rgba(29, 75, 40, 0.559);
    margin-bottom: 2%;
    font-weight: bold;
}

.index_boton_cargar_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1% 2.5%; /* Opcional: ajusta los márgenes alrededor del botón */
}

.index_boton_cargar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(54, 11, 11, 0.347);
    border: 1px solid rgba(29, 75, 40, 0.559);
    border-radius: 10px;
}

/* INICIO RECETAS */

.receta_container {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%; /* Ocupará el 60% del ancho de la pantalla */
    margin-left: auto; /* Centra horizontalmente el contenedor */
    margin-right: auto; /* Centra horizontalmente el contenedor */
    padding: 20px; /* Opcional: agrega espacio interior */
    border: 1px solid rgba(29, 75, 40, 0.559); 
    border-radius: 1%;
}

.receta_detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receta_imagen {
    width: 40%;
    height: 60%;
    margin-bottom: 2%;
    border-radius: 4%;
}

.receta_titulo {
    font-weight: bold;
    color: rgba(54, 11, 11, 0.347);
    font-size: 200%;
    margin-bottom: 2%

}

.receta_tiempo {
    color: rgba(29, 75, 40, 0.559);
    margin-bottom: 2%;
    font-weight: bolder;
}

.receta_instrucciones {
    width: 65%;
    margin-bottom: 2%;
    color: rgba(29, 75, 40, 0.559)

}

.receta_titulo_categorias {
    font-weight: bold;
    font-size: 200%;
    color: rgba(54, 11, 11, 0.347);
    margin-bottom: 1%;
}

.receta_lista {
    list-style: none;
}

.receta_categorias {
    color: rgba(29, 75, 40, 0.559);
    margin-bottom: 2%;
    font-weight: bolder;
}

/*FIN RECETA*/

.login_container {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; /* Ocupará el 60% del ancho de la pantalla */
    margin-left: auto; /* Centra horizontalmente el contenedor */
    margin-right: auto; /* Centra horizontalmente el contenedor */
    padding: 20px 0;
    border: 1px solid rgba(29, 75, 40, 0.559); 
    border-radius: 1%;
}

.login_formulario {
    display: flex;
    flex-direction: column;
}

.login_titulo {
    font-weight: bold;
    color: rgba(54, 11, 11, 0.347);
    font-size: 200%;
    margin-bottom: 20%
}

.login_input {
    margin-bottom: 5%;
    color: rgba(29, 75, 40, 0.559);
}

.login_boton {
    background-color:  rgba(54, 11, 11, 0.347);
    margin: 15% 0;
}

.login_enlace {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(29, 75, 40, 0.559);
}
