/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    background-color: beige;
}



/* INICIO HEADER */
header {
    width: 100%;
    background-color: rgba(29, 75, 40, 0.559);
    display: flex;
    border: 2px solid rgba(54, 11, 11, 0.347);
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    
}

header .header_img {
    margin-left: 20px;
}

header .header_img img {
    width: 120px;
    height: 50px;
    border-radius: 0;
}

header .header_links ul a {
    color: black;
    text-decoration: none;
    margin: 0 30px;
} 

header .header_form {
    width: 20%;
}

.header_form input {
    border-radius: 10%;
    border: 1px solid rgba(29, 75, 40, 0.559)
}

.header_form button {
    background-color: rgba(54, 11, 11, 0.249);
    border-radius: 10%;
    border: 1px solid rgba(29, 75, 40, 0.559);
    width: 30%;
}

/* FIN HEADER */

/* INICIO MAIN */

.form_main{
    height: 65vh;
}

/* FIN MAIN */

/* INICIO FOOTER */
footer {
    width: 100%;
    height: 20vh;
    background-color:rgba(29, 75, 40, 0.559);
    border: 2px solid rgba(54, 11, 11, 0.347);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer .index_nombres {
    text-align: center;
    border-radius: 20px;
}

footer .index_nombres h1 {
    display: inline-block;
    margin: 10px 20px; 
    background-color: none;
}

/* FIN FOOTER */

/* INICIO INDEX */

.index_titular {
    text-align: center;
    margin-top: 1%;
    font-size: 400%;
}

.index_recetas_container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 2%;
}

.index_receta {
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    border: 1px solid rgba(29, 75, 40, 0.559);
    margin: 1% 0.5%;
    border-radius: 2%;
}

.index_imagenes {
    margin: 5% 0;
    width: 90%;
    align-items: center;
    border-radius: 2%;
    
}

.index_receta .index_titulo {
    font-weight: bold;
    text-align: center;
    color: rgba(54, 11, 11, 0.347);
    margin-bottom: 2%
}

.index_receta .index_dificultad {
    color: rgba(29, 75, 40, 0.559);
    margin-bottom: 2%;
}

.index_receta .index_detalle {
    color: rgba(29, 75, 40, 0.559);
    margin-bottom: 2%;
    font-weight: bold;
}

.index_boton_cargar_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1% 2.5%; /* Opcional: ajusta los márgenes alrededor del botón */
}

.index_boton_cargar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(54, 11, 11, 0.347);
    border: 1px solid rgba(29, 75, 40, 0.559);
    border-radius: 10px;
}

/* INICIO RECETAS */

.receta_container {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 20px; 
    border: 1px solid rgba(29, 75, 40, 0.559); 
    border-radius: 1%;
    
}

.receta_detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receta_imagen {
    width: 40%;
    height: 60%;
    margin-bottom: 2%;
    border-radius: 4%;
}

.receta_titulo {
    font-weight: bold;
    color: rgba(54, 11, 11, 0.347);
    font-size: 200%;
    margin-bottom: 2%

}

.receta_tiempo {
    color: rgba(29, 75, 40, 0.559);
    margin-bottom: 2%;
    font-weight: bolder;
}

.receta_instrucciones {
    width: 65%;
    margin-bottom: 2%;
    color: rgba(29, 75, 40, 0.559)

}

.receta_titulo_categorias {
    font-weight: bold;
    font-size: 200%;
    color: rgba(54, 11, 11, 0.347);
    margin-bottom: 1%;
}

.receta_lista {
    list-style: none;
}

.receta_categorias {
    color: rgba(29, 75, 40, 0.559);
    margin-bottom: 2%;
    font-weight: bolder;
}

/* FIN RECETA */

/*INICIO CATEGORIES */

    .categoriesContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .categories_item{
        display: flex;
        padding: 3%;
        margin: 2%;
        border: 2px, solid, rgba(54, 11, 11, 0.347);
        width: 15%;
        border-radius:5%;
        background-color: rgba(57, 40, 40, 0.145);
    }
    
    .categories_titulo{
        text-align: center;
        width: 100%;
        text-decoration: none;
        font-weight: bold;
        font-size: larger;
        color: rgba(54, 11, 11, 0.561);;
    }
    
     /*FIN CATEGORIES */
    
    /*INICIO CATEGORY */

    #recipesContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
    }

    .articleRecetas{
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        align-items: center; 
        width: 25%; 
        padding: 1%;
        margin: 3%;
        border: 1px solid rgba(29, 75, 40, 0.559); 
        border-radius: 3%;
 }
    .img_recetas{
        width: 70%; 
        height: auto; 
        border-radius: 10%; 
        padding: 3%;
    }

    .info_recetas{
        display: flex;
        flex-direction: column; 
        justify-content: center; 
    }

    .nombreReceta{
        font-size: larger;
        font-weight: bold;
        color: rgba(54, 11, 11, 0.347);
    }
    
    .dificultadReceta{
        color: rgba(29, 75, 40, 0.559);
    }

    .detalleLink{
        list-style: none;
        color: rgba(29, 75, 40, 0.559);
        font-weight: bold;
        
    }

/* INICIO SEARCH RESULTS */

.search_titulo {
    text-align: center;
    margin-top: 2%;
}

.search_container {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    width: 100%;
}

.search_result {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(29, 75, 40, 0.559);
    border-radius: 2%;
    width: 30%;
    margin-bottom: 1%;
}

.search_result_image {
    margin: 4% 0;
    width: 60%;
    height: 70%;
    border-radius: 2%;
}

.search_result_title {
    color: rgba(54, 11, 11, 0.347);
    font-weight: bold;
    margin-bottom: 2%;
}

.search_result_link {
    color: rgba(29, 75, 40, 0.559);
}

/* FIN SEARCH RESULTS */

/* INICIO LOG IN */

.login_container {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; /* Ocupará el 60% del ancho de la pantalla */
    margin-left: auto; /* Centra horizontalmente el contenedor */
    margin-right: auto; /* Centra horizontalmente el contenedor */
    padding: 20px 0;
    border: 1px solid rgba(29, 75, 40, 0.559); 
    border-radius: 1%;
}

.login_formulario {
    display: flex;
    flex-direction: column;
}

.login_titulo {
    font-weight: bold;
    color: rgba(54, 11, 11, 0.347);
    font-size: 200%;
    margin-bottom: 20%
}

.login_input {
    margin-bottom: 5%;
    color: rgba(29, 75, 40, 0.559);
}

.login_boton {
    background-color:  rgba(54, 11, 11, 0.347);
}

.login_enlace {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(29, 75, 40, 0.559);
    margin: 15% 0;
}

/* FIN LOG IN */

/* INICIO REGISTER */

.register_tyc {
    margin-top: 5%;
}

label[for="register_tyc"] {
    font-size: 70%;
    color: rgba(29, 75, 40, 0.559);
}

/* FIN REGISTER */



/* INICIO RESPONSIVE */

@media (max-width: 768px) {

    body {
        max-width: 768px;
    }

    /* INICIO HEADER */

    #formularioBusqueda button {
        display: none;
    }

    #formularioBusqueda ::placeholder{ /*PREGUNTAR A LEAN*/
        content: "Buscar receta";
        color: grey;
        font-size: 14px;
    }

    .header_links ul {
        display: flex;
    }

    /* FIN HEADER */

    footer {
        margin-bottom: auto;
    }

    /* INICIO INDEX */

    .index_recetas_container {
        display: flex;
        justify-content: space-around;
    }

    .index_receta {
        width: 45%;
    }

    .index_boton_cargar_container {
        display: flex;
        justify-content: center;
        margin: 2% 0;
    }

    /* FIN INDEX */

    /* INICIO RECETAS */

    .receta_container {
        width: 90%;
    }

    .receta_imagen {
        width: 90%;
    }

    .receta_titulo {
        font-size: 50px;
    }

    .receta_tiempo {
        font-size: 30px;
        margin: 5% 0;
    }

    h3.receta_titulo  {
        font-size: 40px;
    }

    .receta_instrucciones {
        width: 90%;
    }

    .receta_lista {
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 3% 0;
    }

    .receta_lista li {
        margin: 0 5%;
    }

    .receta_footer {
        margin-top: 2%;
    }

    /* FIN RECETAS */

    /*INICIO SEARCH RESULTS */

    .search_result {
        width: 45%;
        margin: 2% 0;
    }

    .search_result_image {
        width: 90%;
    }

    .search_result_title {
        align-items: center;
    }

    .search_result_link {
        margin: 2% 0;
    }

    /* FIN SEARCH RESULTS */

    /* INICIO LOG IN */

    .login_container {
        width: 80%;
        height: 20%;
    }

    .login_formulario {
        display: flex;
        align-items: center;
    }

    .login_titulo {
        font-size: 80px;
        margin: 10% 0;
    }

    .login_input {
        height: 50px;
        width: 80%;
    }

    .login_boton {
        margin-top: 5%;
        height: 50px;
        width: 80%;
    }

    .login_enlace {
        font-size: 30px;
    }
}

/* FIN LOG IN */

/* INICIO REGISTER */

label[for="register_tyc"]  {
    font-size: medium;
}

.register_tyc {
    margin-top: 15%;
}
/* FIN REGISTER*/


